.myMealsContainer {
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: 50px;
  margin-left: -100px;
  max-height: calc("100vh-200px")
}

.myMealsImg {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

/* .myMealsCategory {
    
}

.myMealsMeal {
    
} */