.searchBox {
  width: 200px;
  margin-top: 26px;
  margin-left: 50px;
  border-radius: 5px;
  border: 1px solid gray;
  position: relative;
  padding-left: 5px;
}

.filterSubmit {
    position: relative;
    z-index: 1;
    left: -25px;
    top: 1px;
    color: #7B7B7B;
    cursor:pointer;
    width: 0;
}

.userIcon {
    float: right;
    margin-top: 26px;
    padding-right: 20px;
}

.aboutUs {
  float: right;
  margin-top: 26px;
  padding-right: 20px;
  font-weight: 900;
}

.contact {
  float: right;
  margin-top: 26px;
  padding-right: 20px;
  font-weight: 900;
}

.right {
  float: right;
  margin-right: 50px;
}

.loginForm {
  position: absolute;
  right: 10px;
  top: 65px;
  border: 1px solid black;
  box-shadow: 3px 3px 3px gray;
  width: 350px;
  height: 150px;
  border-radius: 10px;
}

.logoutForm {
  position: absolute;
  right: 10px;
  top: 65px;
  border: 1px solid black;
  box-shadow: 3px 3px 3px gray;
  width: 250px;
  height: 100px;
  border-radius: 10px;
}

.formInput {
  margin-bottom: 5px;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
  color: black;
  outline: none;
}

.formButton {
  margin-left: 45%;
  width: 175px;
  height: 35px;
  border-radius: 10px;
  background-color: rgb(233, 161, 27);
  border: 0;
  color: white;
}

.logoutFormButton {
  margin-left: 25%;
  margin-top: 8%;
  width: 175px;
  height: 35px;
  border-radius: 10px;
  background-color: rgb(233, 161, 27);
  border: 0;
  color: white;
}

@media only screen and (max-width: 541px) {
  .right {
    position: absolute;
    top: 50px;
    right: 100px;
  }
  .searchBox {
    position: absolute;
    top: 5px;
    left: 80px;
  }
}

@media only screen and (max-width: 444px) {
  .right {
    position: absolute;
    top: 50px;
    right: 50px;
  }
}