.footer {
    height: 100px;
    display: block;
}

.logo {
    height: 100px;
}

.facebook {
    height: 35px;
    float: right;
    margin: 30px;
}

.instagram {
    height: 35px;
    float: right;
    margin: 30px;
}

.copyright {
    text-align: center;
}